:root {
    --fore-color: #D81B60;
    --button-back-color: #D81B60;
    --button-fore-color: #f8f8f8;
    --button-hover-back-color: #AD1457;
}

h1 {
    font-weight: 600;
}

body {
    background: url(bg.jpg) repeat;
}

main {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

canvas {
    width: 100%;
}

input[type="text"] {
    width: 100%;
    margin-right: 1rem;
}

@media only screen and (min-width : 768px) {
    :root {
        --heading-ratio: 1.375;
    }
}